.work__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.6px;
  color: #757575;
  padding: 4px 0px 0px 24px;
  margin: 0;
}

@media screen and (max-width:1023px) {
  .work__subtitle {
    font-size: 16px;
    padding: 0px 0px 0px 24px;
  }
}

@media screen and (max-width:479px) {
  .work__subtitle {
		font-size: 12px;
    line-height: 12px;
  }
}