.work__info {
  min-height: 104px;
  max-width: 616px;
  background-color: #F7F7F7;
  border-radius: 0px 0px 20px 20px;
	margin-top: -4px;
}

@media screen and (max-width:1023px) {
  .work__info {
    min-height: 74px;
  }
}

@media screen and (max-width:479px) {
  .work__info {
    max-width: 288px;
    min-height: 74px;
  }
}