.links__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #000000;
  text-decoration: none;
  margin-right: 32px;
  opacity: 1;
  transition: 1s;
}

.links__link:last-child {
  margin-right: 0px;
}

.links__link:hover {
  color: #8aa9c8;
}

@media screen and (max-width:1023px) {
  .links__link {
    margin-right: 17px;
  }
}
  
@media screen and (max-width:767px) {
  .links__link {
    font-size: 15px;
  }
}