.elements {
  margin: 84px 0px 0px 96px;
}

@media screen and (max-width:1280px) {
  .elements {
    margin-right: 96px;
  }
}

@media screen and (max-width:1023px) {
  .elements {
    margin-left: 24px;
    margin-right: 24px;
		padding-bottom: 60px;
  }
}
  
@media screen and (max-width:767px) {
  .elements {
    margin: 0px 0px 0px 0px;
		padding-bottom: 0px;
		max-height: 2442px;
  }
}

@media screen and (max-width:479px) {
  .elements {
    margin: 0px 16px 0px 16px;
  }
}