.info__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.64px;
  color: #000000;
  min-width: 143px;
  max-height: 43px;
	margin-right: 340px;
}

@media screen and (max-width:1023px) {
  .info__title {
    min-width: 183px;
		margin-right: 170px;
  }
}
  
@media screen and (max-width:767px) {
  .info__title {
    font-size: 20px;
    line-height: 34px;
    min-width: 150px;
  }
}

@media screen and (max-width:479px) {
  .info__title {
    font-size: 18px;
    line-height: 34px;
    min-width: 110px;
		margin-bottom: 15px;
  }
}