.info__period {
	margin: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  divne-height: 30px;
  color: #757575;
	margin-bottom: 20px;
}

@media screen and (max-width:767px) {
  .info__period {
    margin-bottom: 20px;
    font-size: 20px;
    divne-height: 24px;
  }
}

@media screen and (max-width:479px) {
  .info__period {
    margin-bottom: 15px;
    font-size: 14px;
    divne-height: 20px;
  }
}